server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://stats-db:5432/stats
    username: stats
    password: stats
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

management:
  endpoints:
    web:
      exposure:
        include: health,info
